html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  user-select: none;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}

.calculator {
  width: 232px;
  height: 320px;
  overflow: hidden;
  border-radius: 4px;
  border: 0.5px solid black;
  box-shadow: 0px 10px 30px 0px rgba(125, 125, 125, 0.8);
}

.decorator {
  height: 20px;
  display: flex;
  align-items: center;
  background-color: rgb(88, 84, 85);
}

.dot {
  width: 12px;
  height: 12px;
  margin-top: 3px;
  margin-left: 28px;
  position: relative;
  border-radius: 50%;
  background-color: rgb(255, 190, 46);
}

.dot::after,
.dot::before {
  top: 0;
  width: 12px;
  height: 12px;
  content: '';
  display: block;
  position: absolute;
  border-radius: 50%;
}

.dot::before {
  right: calc(11px + 8px);
  background-color: rgb(255, 97, 89);
}

.dot::after {
  left: calc(11px + 8px);
  background-color: rgb(84, 194, 43);
}

.display {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(88, 84, 85);
}

.result {
  color: white;
  height: 40px;
  font-size: 50px;
  font-weight: 200;
  line-height: 40px;
  margin-right: 15px;
}

.row {
  display: flex;
  height: 48px;
  color: white;
  background-color: rgb(131, 127, 127);
}

.button {
  display: flex;
  width: 57px;
  font-size: 23px;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgb(94, 89, 89);
  border-bottom: 1px solid rgb(94, 89, 89);
}

.button:active {
  background-color: rgb(166, 163, 163);
}

.row:nth-child(3) .button {
  border-top: none;
}

.row:last-child .button {
  border-bottom: none;
}

.row .button:last-child {
  border-right: none;
  background-color: rgb(255, 159, 8);
}

.row .button:last-child:active {
  background-color: rgb(203, 125, 5);
}

.row:nth-child(3) .button:first-child {
  width: 173px;
  background: rgb(106, 102, 102);
}

.row:nth-child(3) .button:first-child:active {
  background-color: rgb(131, 127, 127);
}

.row:last-child .button:first-child {
  width: 92px;
  padding-left: 23px;
  justify-content: flex-start;
}
